version: "3"

services:
  waha:
    image: devlikeapro/waha
    restart: always
    # shared memory size is critical for Puppeteer (WEBJS) stability
    shm_size: '2gb'
    environment:
      - WHATSAPP_DEFAULT_ENGINE=WEBJS
      - WAHA_API_KEY=1234567890abcdef
      - WAHA_DASHBOARD_USERNAME=admin
      - WAHA_DASHBOARD_PASSWORD=SecretPassword123!
      - WAHA_SWAGGER_USERNAME=admin
      - WAHA_SWAGGER_PASSWORD=SecretPassword123!
      - WAHA_NOWEB_STORE_ENABLED=True
      - WAHA_NOWEB_STORE_FULL_SYNC=True
    ports:
      - "3000:3000"
    volumes:
      - ./waha-data:/app/sessions

  server:
    build: ./server
    restart: always
    ports:
      - "3001:3001"
    environment:
      - WAHA_ENDPOINT=http://waha:3000
      - WAHA_API_KEY=1234567890abcdef
    depends_on:
      - waha
    volumes:
      - ./server:/app
      - /app/node_modules

  client:
    build: ./client
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
